[submodule "ImageApp"]
	path = ImageApp
	url = git@github.com:yungryce/imageProcessor-python-functions.git
[submodule "EmailApp"]
	path = EmailApp
	url = git@github.com:yungryce/Email_FA.git
[submodule "startstopvm"]
	path = startstopvm
	url = git@github.com:yungryce/startstopvm.git
[submodule "recaptcha_FA"]
	path = recaptcha_FA
	url = git@github.com:yungryce/recaptcha_FA.git
[submodule "Auth"]
	path = Auth
	url = git@github.com:yungryce/authentication-FA.git
